*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {
    font-size: 62.5%;
}

.container {
    width: 90rem;
    margin:30px auto;

    font-size: 30px;
    color: #fff;
    font-family: sans-serif;
   

    display: grid;
    grid-template-rows: 100px 200px 400px 100px;
    grid-template-columns: repeat(3, 1fr) 200px;
    grid-gap: 30px;
}

.header {
    background-color: red;
    grid-column: 1 / -1 ;
    grid-row: 4 / 5;
    padding:10px;
}

.small-box-1 {
    background-color: blue;
    padding:10px;
}
.small-box-2 {
    background-color: blue;
    padding:10px;
}
.small-box-3 {
    background-color: blue;
    padding:10px;
    grid-row: 2 / 3;
    grid-column: 2 / 3;
}
.sidebar {
    background-color: red;
    grid-row:2 / 4;
    grid-column: 4 / 5;
    padding:10px;
}

.main-content {
    background-color: red;
    grid-column: 1 / 4;
    padding:10px;
    
}

.footer {
    background-color: red;
    grid-column:1 / -1;
    padding:10px;
    grid-row: 1 /2;
}